<!DOCTYPE html>
<html lang="en" dir="ltr">
  <body>
    <header id="homeHeader">
    CRentals Car Hire
    <button onclick="location.href='http://localhost:3000/quote'" type="button" id="headerButton">Get a quick quote</button>
    <ul id="headerList">
      <li>Guildford, UK</li>
      <li>+44 7517292860</li>
    </ul>
    </header>

    <nav id="homeNav">
      <a href="http://localhost:3000/">Home</a> |
      <a href="http://localhost:3000/book">Car Rates</a> |
      <a href="http://localhost:3000/contact">Contact Us</a> |
      <a href="http://localhost:3000/aboutUs">About Us</a> |
    </nav>

  </body>
</html>
