<% provide :head_tags do %>
    <script>
    document.addEventListener("DOMContentLoaded", function(){
        initMap(51.239078, -0.588849)
    });
    </script>
<% end %>
<%= I18n.t('home.aboutUs.title') %>
<p>
    <div id="map"></div>
</p>
