<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>about us</h1>
    <%= image_tag("map.jpg", :alt => "map", :class => "map") %>
  </body>
</html>
