<!DOCTYPE html>

<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title></title>
  </head>

  <body>

    <ul id="leftList">
      <li>Low Prices</li>
      <li>Cheapest Weekly Rates</li>
      <li>Free Collection and Delivery</li>
      <li>7 Seaters Available</li>
    </ul>
    <ul id="rightList">
      <li>Free GPS provided</li>
      <li>Free babyseats</li>
      <li>Full insurance at an extra cost</li>
      <li>Good condition</li>
    </ul>
      <%= image_tag("suzuki.jpg", :alt => "suzuki", :class => "carPicHome") %>
    <p>CRentals is a car rentals company established in 2019 in Guildford, UK </p>
  </body>


</html>
