<!DOCTYPE html>

<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title></title>
  </head>

  <body>
    
    <div id="list1">
      <ul id="leftList">
        <li>Low Prices</li>
        <br>
        <li>Cheapest Weekly Rates</li>
        <br>
        <li>Free Collection and Delivery</li>
        <br>
        <li>7 Seaters Available</li>
      </ul>
      <ul id="rightList">
        <li>Free GPS provided</li>
        <br>
        <li>Free babyseats</li>
        <br>
        <li>Full insurance at an extra cost</li>
        <br>
        <li>Cars in great condition</li>
      </ul>
    </div>
    <span class="images">
      <%= image_tag("suzuki.jpg", :alt => "suzuki", :class => "suzuki") %>
      <%= image_tag("stars.jpg", :alt => "stars", :class => "stars") %>
    </span>
    <div id="about">
      <br>
      CRentals is a car rentals company established in 2019 in Guildford, UK <br> <br>
      All CRentals prices include VAT, third-party insurance and 24hr breakdown service. Our aim is to keep our customers satisfied by giving good service and low prices.
      <br>
    </div>
  </body>


</html>
