table {
  border-collapse: collapse;
  width: 70%;
  height: 70%;
  margin: auto;
}
table, th, td {

     background-color: #D3D3D3;
;
td{
  text-align: left;
}
}
th {
  height: 50px;
  text-align: center;
}
.carPic{
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h3{
  text-align: center;
}
