table {
  border-collapse: collapse;
  width: 70%;
  height: 70%;
  margin: auto;
}
table, th, td {
     text-align: center;
     background-color: #D3D3D3;
;

}
th {
  height: 50px;
}
.carPic{
  height: 200px;
}
h3{
  text-align: center;
}
