// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form label, form input {
  display: block;
  margin: 10px;
}

body{
  font-size: 20px;
}
#leftList, #rightList{
  font-size: 30px;
  font-family: cursive;
}
#leftList{
  float:left;
  width: 500px;
  padding: 20px;
}
#rightList{
  float:right;
  width: 500px;
  padding: 20px;
}
.carPicHome{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:400px
}
