// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form label, form input {
  display: block;
  margin: 10px;
}

body{
  font-size: 20px;
}

#leftList{
  float:left;
  width: 500px;
  padding: 30px;
}
#rightList{
  float:right;
  width: 500px;
  padding: 30px;
}
.suzuki, .stars{
  display: block;
  width:50%;
  margin-top: 20px;
  margin-bottom: 50px;
}
.suzuki{
  float:right;
}
.stars{
  float: left;
}
#rightList, #leftList {
  width: 50%;
  height:200px;
  background: lightGrey;
  font-size: 30px;
  font-family: cursive;
}
 #about {
   font-size: 20px;
 }
